<div class="d-flex flex-column flex-shrink-0 p-3 bg-light border-end" style="width: 250px; height: 100vh; position: fixed;">
    <a href="/super/dashboard" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-decoration-none">
      <i class="fas fa-book fa-lg me-2 text-primary"></i>
      <span class="fs-4 fw-bold">GREMA Admin</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="/super/dashboard" class="nav-link text-dark">
          <i class="fas fa-home me-2"></i> Dashboard
        </a>
      </li>
      <li>
        <a href="/super/libros" class="nav-link text-dark">
          <i class="fas fa-book-open me-2"></i> Libros
        </a>
      </li>
      <li>
        <a href="/super/usuarios" class="nav-link text-dark">
          <i class="fas fa-users me-2"></i> Usuarios
        </a>
      </li>
      <li>
        <a href="/super/libros/importar" class="nav-link text-dark">
          <i class="fas fa-file-import me-2"></i> Importar Libros
        </a>
      </li>

      <li>
      <a href="/super/usuarios/importar" class="nav-link text-dark">
          <i class="fas fa-user-plus me-2"></i> Importar Usuarios
        </a>
      </li>


    </ul>
    <hr>
    <div class="text-muted small">
      <i class="fas fa-user-shield me-1"></i> Panel SuperUsuario
    </div>
  </div>
